@model IEnumerable<CrepaDelivery.Models.CrepeType>

<style>
    #myTable tbody tr:nth-child(even) td {
        background-color: #e3eaf4 !important;
    }

    #myTable tbody tr:nth-child(odd) td {
        background-color: #bcd8ff !important;
    }
</style>

@Scripts.Render("~/bundles/jquery")

<script>

    $(document).ready(function () {
        $('#myTable').DataTable({
            responsive: true,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Greek.json"
            }
        });
    });

</script>

<a href="@Url.Action("Create", "CrepeTypes")" class="pull-right"><span class='glyphicon glyphicon-plus-sign fa-lg'></span>Προσθήκη είδους κρέπας</a>

<hr>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.type)
            </th>
            <th>
                Ενέργεια
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.type)
                </td>
               <td>
                    <a href="@Url.Action("Edit", "CrepeTypes",  new { id = item.type })"><span class='glyphicon glyphicon-edit fa-lg' title="Επεξεργασία"></span></a> |
                    <a href="@Url.Action("Details", "CrepeTypes",  new { id = item.type })"><span class='glyphicon glyphicon-info-sign fa-lg' title="Λεπτομέρειες"></span></a> |
                    <a href="@Url.Action("Delete", "CrepeTypes",  new { id = item.type })"><span class='glyphicon glyphicon-trash fa-lg' title="Διαγραφή"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>
