@using CrepaDelivery.Models.Helpers;
@using CrepaDelivery;
@using CrepaDelivery.Models;
@using System.Collections.Generic;

@model Dictionary<string, Dictionary<string, List<Ingredient>>>

@{
    ViewBag.Title = "Home Page";
}

<style>
    h2 {
        background-color: #e6ffff;
        text-align: center;
        color: #a3a3c2;
    }

    .fa fa-car {
        font-size: 2px;
    }


    li:hover:not(.crepeType){
        background-color: #b3cccc;
        cursor: pointer;
    }

    .list-group-item {
        border: none;
        margin-left: -17px;
    }

    .list-inline {
        margin-top: 20px;
    }

    .ingredients {
        display: none;
    }

    .img-responsive {
        width: 180px;
        height: 180px;
    }

    .img-responsive:hover {
        opacity: 0.6;
        cursor: pointer;
    }

     #crepeTypeButton{
        padding: 20px;
    }
</style>

@Scripts.Render("~/bundles/CrepeDictionary")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jquery")


<script>

    var previousCrepeCategory = "#Crepe0Ingredients";

    function crepeCategoryClick(clickedID) {
        $(previousCrepeCategory).css('display', "none");
        $(clickedID).css('display', "inline");
        previousCrepeCategory = clickedID;
    }

    function showIngredients() {
        $("#Crepe0Ingredients").css('display', "inline");
    }

</script>


@{
    List<string> keyList = Model.Keys.ToList();
    Dictionary<string, string> crepeCategoryKeys = new Dictionary<string, string>();
    CrepeOrderModel crepeOrderModel = new CrepeOrderModel();
}


@Html.Partial("_AdminCrepesMadeList")

<div id="currentCrepes">


</div>

<ul class="list-inline" style="text-align:center">
    @for (int i = 0; i < Model.Keys.Count(); i++)
    {
        var id_ = "Crepe" + i + "Ingredients";
        crepeCategoryKeys.Add(keyList[i], id_);
        <li class="crepeType"><button class="btn btn-success" id="crepeTypeButton" onclick='crepeCategoryClick(@id_)'>@keyList[i]</button></li>
    }

</ul>

<div>

    @{
        for (int i = 0; i < Model.Keys.Count(); i++)
        {
            string id_ = "Crepe" + i + "Ingredients";
            CrepeMakePartialViewModel crepeMakePartialViewModel = new CrepeMakePartialViewModel();
            crepeMakePartialViewModel.CrepeCategoryID = "Crepe" + i;
            crepeMakePartialViewModel.IngredientsDictionary = Model[keyList[i]];
            <div id=@id_ class="ingredients">
                @Html.Partial("_AdminCrepeMakePartial", crepeMakePartialViewModel);
            </div>
        }
    }

    <script>
            showIngredients()
    </script>

</div>

