@using CrepaDelivery.Models;
@model CrepaDelivery.Models.Helpers.IngredientTypeViewModel


@using (Html.BeginForm())
{
       
    var listItems = new List<SelectListItem>();
    foreach (CrepeType crepeType in Model.CrepeTypes)
    {
        listItems.Add(new SelectListItem { Text = crepeType.type, Value = crepeType.type });
    }
        

    @Html.AntiForgeryToken()
        
    <div class="form-horizontal">
        <h3>Προσθήκη Είδους Συστατικού</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.IngredientType.Type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IngredientType.Type, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IngredientType.Type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IngredientType.CrepeCategory, htmlAttributes: new { @class = "control-label col-md-2" })
                
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.IngredientType.CrepeCategory, listItems, string.Empty, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IngredientType.CrepeCategory, "", new { @class = "text-danger" })
            </div>
        </div>
            
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Προσθήκη" class="btn btn-primary" />
                </div>
            </div>
</div>
}
    
<div>
    @Html.ActionLink("Πίσω στην λίστα", "Index")
</div>
